body {
  background: #111827;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  padding: 30px;
  margin: 0;
}

h1 {
  background: #1e1b4b;
  color: white;
  text-align: center;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #4338ca;
  margin-bottom: 25px;
}

figure {
  background: #1f2937;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #374151;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
}

img {
  width: 100%;
  max-width: 550px;
  border-radius: 10px;
}

figcaption {
  color: #c7d2fe;
  padding: 12px;
  font-weight: bold;
}

h2 {
  color: #818cf8;
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #1f2937;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #374151;
}

th {
  background: #312e81;
  color: white;
  padding: 14px;
}

td {
  padding: 12px;
  border-bottom: 1px solid #374151;
  text-align: center;
}

tr {
  background: #252b3b;
}